/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap';

@import 'choices.js/public/assets/styles/choices';

@import url('./editProduto.css');

.align-cards .card-body{
    flex-grow: 0;
}

.btn-orange{
    color: black;
    background-color: orange;
    border-color: orange;
}

.btn-orange:hover{
    color: black;
    background-color: rgb(221, 145, 3);
    border-color: rgb(221, 145, 3);
}