/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap';

@import 'choices.js/public/assets/styles/choices';

@import url('./editProduto.css');

.bg-navy{
    background-color: rgb(6, 6, 92);
    border-color: rgb(6, 6, 92);
    color: white;
}

.align-cards .card-body{
    flex-grow: 0;
}